<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default" id="sessions-new">
  <h1>Change password</h1>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true,
          placeholder: "New password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation,
          placeholder: "Confirm new password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="links">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
